{% extends 'email/base.html' %}

{% load authentik_stages_email %}
{% load i18n %}

{% block content %}
<td>
  <h2>
    {% trans 'Bienvenue !' %}
  </h2>
  <p>
    {% trans "Confirme ton compte en appuyant simplement sur le bouton ci-dessous."%}
  </p>
  <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
    <tbody>
      <tr>
        <td align="center">
          <table role="presentation" border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr>
                <td> <a id="confirm" href="{{ url }}" rel="noopener noreferrer" target="_blank">{% trans 'Confirmer le compte' %}</a> </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <p>
    {% blocktrans with url=url %}
    Si cela ne fonctionne pas, copie et colle le lien suivant dans ton navigateur : {{ url }}
    {% endblocktrans %}
  </p>
  <p>
    {% trans "Si tu as des questions, réponds simplement à cet e-mail ou écris-nous sur notre Instagram @strea.to." %}
  </p>
</td>
{% endblock %}
