{% extends "email/base.html" %}

{% load i18n %}
{% load humanize %}

{% block content %}
<tr>
    <td class="alert alert-success">
        {% blocktrans with username=user.username %}
        Bonjour {{ username }},
        {% endblocktrans %}
    </td>
</tr>
<tr>
    <td class="content-wrap">
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="content-block">
                    {% blocktrans %}
                    Tu as récemment demandé à changer ton mot de passe. Utilise le bouton ci-dessous pour définir un nouveau mot de passe.
                    {% endblocktrans %}
                </td>
            </tr>
            <tr>
                <td class="content-block">
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                        <tbody>
                        <tr>
                            <td align="center">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td> <a id="confirm" href="{{ url }}" rel="noopener noreferrer" target="_blank">{% trans 'Rénitialiser le mot de passe' %}</a> </td>
                                </tr>
                                </tbody>
                            </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="content-block">
                    {% blocktrans with expires=expires|naturaltime %}
                    Si tu n'as pas demandé de changement de mot de passe, ignore cet e-mail. Le lien ci-dessus est valable pour {{ expires }}.
                    {% endblocktrans %}
                </td>
            </tr>
        </table>
    </td>
</tr>
{% endblock %}
