{% extends "email/base.html" %}

{% load authentik_stages_email %}
{% load i18n %}

{% block content %}
<tr>
    <td class="alert alert-brand">
        {% trans 'authentik Test-Email' %}
    </td>
</tr>
<tr>
    <td class="content-wrap">
        <table width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td class="content-block">
                    {% blocktrans %}
                    Ceci est un e-mail de test pour vous informer que vous avez configuré avec succès les e-mails.
                    {% endblocktrans %}
                </td>
            </tr>
        </table>
    </td>
</tr>
{% endblock %}
